<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html {
  background-color: #D3D3D3;
  background-image: -webkit-linear-gradient(50deg, #36454F 75%, #E4E9FD 25%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  /* padding: 10px; */
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #36454F;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #36454F;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

label{
  color :#E4E9FD;
}

label.p{
  padding: 5px;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #36454F;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #36454F;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}


/* body {
  background-color: #E8ECEF;
} */

.centered {
    padding-top: 200px;
    text-align: center;
}
    </style>
    <title>ToDoList</title>
</head>
<body>

<a href="/logout" style="text-align: center; padding-left: 90%; padding-bottom: 100px;">logout</a>

    <div class="box" id="heading">
        <h1><%= username %> <%= listTitle %></h1>
    </div>

    <div class="box">
        <% for(var i = 0;i<new_items.length;i++) {%>
        <form action="/delete" method = "post">
            <div class="item">
                
                <input type="checkbox" name="checkbox" onChange ="this.form.submit()" value = "<%= new_items[i]._id%>" id="">
                <p><%= new_items[i].title %></p>
            </div>
            <input type="hidden" name="listTitle" value="<%= listTitle %>">
            <input type="hidden" name="username" value="<%= username %>">
        </form>
        <% } %>
        
        <form class ="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>"">+</button>
            <input type="hidden" name="username" value="<%= username %>">
        </form>
        
    </div>
    


    <%- include("footer") -%>