<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for(var i = 0;i<new_items.length;i++) {%>
        <form action="/delete" method = "post">
            <div class="item">
                
                <input type="checkbox" name="checkbox" onChange ="this.form.submit()" value = "<%= new_items[i]._id%>" id="">
                <a href = "/<%= new_items[i].title %>"><%= new_items[i].title %></a>
            </div>
            <input type="hidden" name="listTitle" value="<%= listTitle %>">
        </form>
        <% } %>
        
        <form class ="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>"">+</button>
        </form>
    </div>
        
    <%- include("footer") -%>